.body {
    background-color: rgb(212, 201, 201);
}

.set {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-shadow: 10px;
    border-radius: 20px;
}

.countdown {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.countdown>div {
    border: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px #888888;
    padding: 10px 10px 10px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 5px 5px;
    margin: 25px;
}

.onclick_button {
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#start-btn {
    background-color: #4CAF50;
}

#pause-btn {
    background-color: red;
    display: none;
    opacity: 0;
    visibility: hidden;
}

#reset-btn {
    background-color: blueviolet;
}